header{
  width: 100%;
  height: 50px;
  background: black;
}
body{
  background-image: url("coinflipping.png");
  background-repeat: no-repeat;
  background-position: center;
}
h2{
  color: white;
  text-align: center;
  font-size: 43px;
}
.container{
  border: 3px solid black;
  width: 40%;
  height: 100px;
  margin: auto;
  margin-top: 50px;
}
.form{
  margin: 40px 0px 0px 245px;
}
h1{
  text-align: center;
}
